<a href="/" style="text-decoration: none">
  <header style="padding: 0.5em 0em">
    <div class="logo" style="margin:auto; text-align: center;">
      <%= image_tag("logo.png", style: "height: 9vh")%>
      <div class="medium-text whitelink" style="margin: auto;">Celler Ardèvol</div>
    </div>
  </header>
</a>
