    <div class="navbar">
      <a class="navbar-item whitelink" href="/about">Nosaltres</a>
      <a class="navbar-item whitelink" href="/wines">El vi</a>
      <a class="navbar-item whitelink" href="/history">Història</a>
      <a class="navbar-item whitelink" href="/contact">Contacte</a>
    </div>
