    <div class="navbar" style=" z-index: 10;">
      <a class="navbar-item whitelink" href="/about" lang="ca">Nosaltres</a>
      <a class="navbar-item whitelink" href="/wines" lang="ca">El vi</a>
      <a class="navbar-item whitelink" href="/history" lang="ca">Història</a>
      <a class="navbar-item whitelink" href="/contact" lang="ca">Contacte</a>

      <a class="navbar-item whitelink" href="/about" lang="es">Nosotros</a>
      <a class="navbar-item whitelink" href="/wines" lang="es">El vino</a>
      <a class="navbar-item whitelink" href="/history" lang="es">Historia</a>
      <a class="navbar-item whitelink" href="/contact" lang="es">Contacto</a>

      <a class="navbar-item whitelink" href="/about" lang="en">About us</a>
      <a class="navbar-item whitelink" href="/wines" lang="en">Our wines</a>
      <a class="navbar-item whitelink" href="/history" lang="en">History</a>
      <a class="navbar-item whitelink" href="/contact" lang="en">Contact</a>

      <a class="navbar-item whitelink" href="/about" lang="ja">私たちについて</a>
      <a class="navbar-item whitelink" href="/wines" lang="ja">私たちのワイン</a>
      <a class="navbar-item whitelink" href="/history" lang="ja">歴史</a>
      <a class="navbar-item whitelink" href="/contact" lang="ja">お問い合わせ</a>
    </div>
