




<div class="grid" style = "">

  <%# <div id="map"class="grid1">
    <div class="mapouter">
      <div>
        <iframe
        src="https://maps.google.com/maps?q=carrer%20barceloneta%2014%20porrera&t=k&z=19&ie=UTF8&iwloc=&output=embed"
        >
        </iframe>
      </div>
    </div>
  </div> %>


    <iframe class="big-image-container" style=""
      src="https://maps.google.com/maps?q=carrer%20barceloneta%2014%20porrera&t=k&z=19&ie=UTF8&iwloc=&output=embed"      >
    </iframe>

  <div>
   <iframe class="small-image-container"
      src="https://maps.google.com/maps?q=carrer%20barceloneta%2014%20porrera&t=k&z=19&ie=UTF8&iwloc=&output=embed"      >
    </iframe>

    <div class="grid-padding" style="">
    <%=@contact_cat[0]%>
    <% @contact_cat[1..-1].each do |item|%>
    <li><%=item%></li>
    <%end%>
    </div>
  </div>


</div>

<script>
function resizeMap() {
header = document.querySelector("header");
navbar = document.querySelector(".navbar");
footer = document.querySelector("footer");
iframe = document.querySelector("iframe");
iframe.style.height = `${(window.innerHeight - header.offsetHeight - footer.offsetHeight - navbar.offsetHeight)}px`;
}


window.onload = resizeMap()
window.addEventListener("resize", resizeMap);

</script>
