TO DO: graella que simuli botes apilades, amb les imatges en marc circular
<p class= "smalltext layout">https://codepen.io/FreeStab/pen/QoPBGv</p>
<div class="layout">
 <%= image_tag "image.png", class: "circle-image" %>
 <%= image_tag "image.png", class: "circle-image" %>
 <%= image_tag "image.png", class: "circle-image" %>
 <%= image_tag "image.png", class: "circle-image" %>
</div>
