<head>
  <style>


  </style>
</head>

<div id="layout" style="width: 100vw; height: 100vh; position: relative; display: flex; justify-content: center">
  <div id="logo" style="background-color: black; color: white; border-radius: 50px; position: absolute; bottom: 10vh; z-index: 2">
  cute logo
  </div>

  <button id="next-button" style="position: absolute; right: 10vw; top: 49vh; z-index: 2">></button>
  <button id="prev-button" style="position: absolute; left: 10vw; top: 49vh; z-index: 2"><</button>

  <div  style = " width: 100vw; height: 100vh; ">
  <%= image_tag("mountain.png", class: "carousel-item") %>
    <%= image_tag("history/1.jpg", class: "carousel-item", style: "opacity: 0") %>
        <%= image_tag("buildings/1.jpg", class: "carousel-item", style: "opacity: 0") %>

    <div id="carousel-1" class = "carousel-item" style="background-color: green; opacity: 0;  background-image: url('buildings/1.jpeg');">.</div>
    <div id="carousel-2" class = "carousel-item" style="background-color: blue; opacity: 0">.</div>
    <div id="carousel-3" class = "carousel-item" style="background-color: red; opacity: 0">.</div>
    <div id="carousel-4" class = "carousel-item" style="background-color: yellow; opacity: 0">.</div>
  </div>
</div>


<script>
    var nextButton = document.querySelector("#next-button");
    var prevButton = document.querySelector("#prev-button");
    var images = document.querySelectorAll(".carousel-item");
    var item2 = document.querySelector("#carousel-2");
    // Add click event listener to the button
    var currentImageIndex = 0
   // console.log("current image is " + images[currentImageIndex].id + ", index is" + currentImageIndex)


    nextButton.addEventListener("click", function(){
      images.forEach(function(image){console.log(image.style.opacity)});

      images[images.length-1].style.animation = "";

      if (currentImageIndex < (images.length - 1)) {  //si la imatge no és la última,
      currentImageIndex += 1;                         //augmenta índex
      images[currentImageIndex].style.animation = "fadeIn 1s ease-in-out";
      images[currentImageIndex].style.opacity = "1"   //posa opacitat a la seguent foto
      }
      else if (currentImageIndex == (images.length-1)) {  //però si la foto es la ultima
      images.forEach(function(image, index){if(index != 0 && index != (images.length-1)){image.style.opacity = "0"; image.style.animation = ""}}); //esborra totes les fotos menys lúltima i la primera
      images[images.length-1].style.animation = "fadeOut 1s ease-in-out";
      images[images.length-1].style.opacity = 0;
      currentImageIndex = 0;                                                                //deixa l'index de la primera
      }

    });

    prevButton.addEventListener("click", function(){
      images.forEach(function(image){console.log(image.style.opacity)});

      console.log(images[currentImageIndex].style.backgroundColor)
      if(currentImageIndex != 0){
      images[currentImageIndex].style.opacity = 1

      images[currentImageIndex].style.animation = "fadeOut 1s ease-in-out";
      images[currentImageIndex].style.opacity = 0
      currentImageIndex -= 1
      }
      else if(currentImageIndex == 0) {
        images[images.length - 1].style.animation = "fadeIn 1s ease-in-out";
        images[images.length - 1].style.opacity = 1

        images.forEach(function(image, index){if(index != images.length - 1){
        setTimeout(function(){image.style.opacity = "1"}, 1000);
        image.style.animation = ""}});
        currentImageIndex = (images.length-1)
      }
    });




</script>
