<style>
  body {
    background-color: whitesmoke;
  }
  .layout {
      width: 80%; /* change accordingly to small-title width property */
      margin: auto;
    }

  .mediumtext {
    font-size: 2.5em;
  }

  .smalltext {
    font-size: 1.4em;
  }

  .biggertext {
    font-size: 3em;
  }

  .button {
    /* background-color: lightgreen; */
    border: 3px solid black;
    border-radius: 0.2em;
    width: fit-content;
    margin: auto;
    padding: 0.3% 3%;
    text-align: center;
  }

  .button:hover {
    outline: 2px solid black;
    font-weight: bold;
  }

  .bottomdotted {
    border-bottom: 6px dotted;
    margin-bottom: 0.4em;
    padding-bottom: 0.4em;
  }


  .two-column-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 5em;

  }

  .imagetest{
    border-radius: 5%;
    height: 15em;
    width: 15em;
    object-fit: cover;
  }

  #header {
    background-color: #141414;
    color: white;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }

  body {
    margin: 0px;
    padding: 0px;
  }

  mark {
  background-color: grey;
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
}

  .shadow {
filter: drop-shadow(-10px 10px 4px black);
  }
</style>


<body>



<div id="header">
  <div class="biggertext" style="text-align: center">Celler Ardèvol</div>
</div>



<img src="https://via.placeholder.com/1400x400" alt="" style="width: 100%"> <%# responsiveness %>
<div class="two-column-grid layout" style="border-bottom: 0.2rem solid; padding: 3%;">
<%#
<div id="image-block">
 <%= image_tag "pare.png", class: "imagetest"
  </div>%>



  <div id="text-block">
    <div class="mediumtext" style="width: fit-content; text-align: left; margin: none;">
    <mark>Celler Ardèvol,Porrera, Priorat</mark>
    </div>
    <div class="smalltext">
      La vid se introduce en nuestra región por parte de los cartujos(cartujanos?) de la Cartoixa d'Escaladei. (?)
      Es entonces que el municipio, registrado en 1157 como Vallem Porreram, pasa a formar parte del dominio de la institucion. (?)
      La historia de Porrera es la historia de nuestra família (nuestro apellido?).
      Como tantos otros apellidos que aparecen documentados a lo largo de los siglos, la ascendencia de los Ardèvol se remonta en Porrera al siglo XIII.
      Ya entonces, tal como un considerable yugo de la poblacion (???) cultivarian la vid, manteniéndose dicha ocupación hasta nuestros dias. Si bien interrumpida por la filoxera.
      El cultivo es parte de nuestra cultura mediterrania (?)
      Lo escarpado y tosco de la geografia prioratina es un valor añadido cuando apreciamos lo especial de su fruto, que da a los caldos del Priorat un carácter soberbio.
      <br>
      <br>
      <br>
      <br>
      <br>
      Ya en el siglo XIII se dedicó nuestra família al cultivo de la vid, en estas mismas (montañas?).
      <br>
      <br>
      Es en 1995, durante los inicios del renacimiento vitivinícola de la región, que Josep Ardèvol retoma el trabajo agrícola.
      <br>
      mucho antes de la filoxera, dedicándose a la venta de vino a granel durante los años treinta y cuarenta. Posteriormente con el auge del cultivo del avellano se abandonó el de la vid.
      Con sus pendientes de pizarra que sobrepasan el 15% de desnivel, la D. O. Calificada Priorat ha subido por ellas hasta lo mas alto en el reconocimiento de la calidad de sus vinos.
    </div>
     <div class="mediumtext" style="width: fit-content; text-align: left; margin: none;">
    <mark>Nuestros productos</mark>
    </div>
        <p>-Terra d'Hom
    -Anjoli
    -Coma d'en Romeu
    </p>
    <div class="mediumtext" style="width: fit-content; text-align: left; margin: none;">
    <mark>Quienes somos</mark>
    </div>
    <p>-mare
    -max
    -Albert
    -Jo
    -ricard?
    </p>
        <p class= "button smalltext">Contacta con nosotros</p>
    </div>

<div>
<img src="https://via.placeholder.com/600x400" alt="" class="shadow">

</div>

</div>

<p>
Josep Ardèvol (1961-2022) fue nuestro padre. Inició este proyecto como una idea un tanto descabellada, cuando el prestigio de la DOQ no estaba aún consolidado como actualmente. Plantó la vid, montó la bodega e introdujo sus vinos en el mercado internacional. Gracias a la bodega pudo conocer lugares y personas que le acompañarian el resto de su vida.
</p>
<div style="padding: 50em">.</div>

<p class=" layout mediumtext bottomdotted">
"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
</p>

<br>

<p class="layout smalltext">

En el año 1995 hemos iniciado nuevas plantaciones y junto con Albert y Roser decidimos materializar el cariño que sentimos por nuestra tierra y sus raíces vinculadas al vino con la
creación de una pequeña bodega familiar en la que seleccionamos nuestras mejores uvas, obteniendo así un producto que está a la altura de los mejores Prioratos.
Nuestras tierras muy pobres y bien orientadas; con unas variedades poco productivas y de gran calidad genética; unas labores culturales basadas en agricultura tradicional intentando minimizar la intervención humana, son factores que conjugados hacen que se logren unos mostos concentrados en color y aromas, con unos valores de acidez, ph, alcohol, etc.,
adecuados para la consecución de las fermentaciones y posterior crianza con mínimos problemas.
En nuestra bodega aplicamos largas maceraciones, suaves prensados, crianza en maderas francesas de tostado ligero y grano fino, procesos entre otros que hace que nuestro vino nos evoque sensaciones puramente naturales , en ausencia de sabores extraños, excesos de maderas, tostados y otros que no corresponden a la pura evolución y complejidad de la crianza de un buen vino.</p>

<br>

<p class="layout biggertext">
"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
</p>

<p class= "button mediumtext"> button </p>

<br>

<p class= "button smalltext">smaller button, what about padding?</p>

<br>

<p class= "button biggertext"> big one </p>

<br>
<br>


<%# how to display images in a beehive grid? %>
<a href="/gridtesting">image grid</a>

<script>
alert("BUSCAR UNA TYPO QUE TINGUI MOLTS PESOS; FER VERSIÓ DEL LOGO A UNA TINTA")
</script>
</body>
