$wine: rgb(24, 23, 12);
header {
  color: white;
  background-color: $wine;
}

#carousel-container {
  background-color: $wine; margin-top: 0vh; height: 100vh;
}

#carousel-layout {
  width: inherit;
  //height: 100vh;
  position: relative; display: flex; justify-content: center
}

.carousel-image {
  position: absolute;
  height: 100vh;
  width: inherit;
  object-fit: cover;
  background-position: center;
}

.carousel-images {
  width: 100%; height: 100vh;
}

.navbar {
  background-color: $wine;
  justify-content: space-between;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-variant: small-caps;
  height: 4vh;
  margin-top: -1px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.navbar-item {
  color: white;
  padding: 0em 1em
}

.navbar-item:hover {
  background-color: grey;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  }

  @keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.black-screen {
 height: 100vh;
 background-color: $wine;
}

.language-icon {
  width: 2vw;
  border-radius: 50%;
  margin: 5px;
}

#logo {
  top: 30vh;
}

.carousel-text {
  width: 100%;
}

@media only screen and (max-width: 400px) {

  .black-screen {
    height: 75vh;
  }

  .language-icon {
    width: 8vw;
  }
  #logo {
    top: 20vh;
  }
  .carousel-text {
    width: 50%;
    text-align: center;
    margin: auto;
  }
}
