@import "navbar";
@import "header";
@import "carousel";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;0,700;1,400&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body {
  margin: 0px;
  padding: 0px;
  background-color: whitesmoke;
}
