$wine: rgb(111, 121, 167);

@import "navbar";
@import "header";
@import "footer";
@import "carousel";
@import "wine-card";
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&family=EB+Garamond:ital,wght@0,400;0,600;0,700;1,400&display=swap');


p{
  /* font-family: 'Libre Baskerville'; */
    font-family: 'EB Garamond';
    font-size: 1.2em;
    }

h1 {
  font-family: 'Cabin';
}

.whitelink {
  color: white;
  text-decoration-line: none;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: whitesmoke;
}

.main-container {
  margin: auto;
  min-height: 78.5vh
 // width: 90vw;
 // margin-top: 5%
}

.white-text {
color: white;
font-weight: 500;
}
.wine {
background-color: $wine;
}
